<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smstest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smstest.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.smstest.ResponderService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.example.smstest.MoneyActivity"
            android:label="@string/title_activity_money"
            android:parentActivityName="com.example.smstest.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smstest.StartActivity" />
        </activity>
        <activity
            android:name="com.example.smstest.MoneyListActivity"
            android:label="@string/title_activity_money_list" >
        </activity>
        <activity
            android:name="com.example.smstest.ContactsListFragment"
            android:label="@string/title_activity_contacts_list_fragment" >
        </activity>
        <activity
            android:name="com.example.smstest.MoneyReqsActivity"
            android:label="@string/title_activity_money_reqs" >
        </activity>
        <activity
            android:name="com.example.smstest.MoneyDetailActivity"
            android:label="@string/title_activity_money_detail" >
        </activity>
        <activity
            android:name="com.example.smstest.CompleteContactTransActivity"
            android:label="@string/title_activity_complete_contact_trans" >
        </activity>
        <activity
            android:name="com.example.smstest.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
